html {
    font-size: 15px;

}

/* Fonts
============================================================================================== */

@font-face {
    font-family: 'Calibri';
    src: local('Calibri'), url('./fonts/Calibri.woff2') format('woff2'), url('./fonts/Calibri.woff') format('woff'), url('./fonts/Calibri.ttf') format('truetype'), url('./fonts/Calibri.eot') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: local('Calibri Italic'), local('Calibri-Italic'), url('./fonts/Calibri-Italic.woff2') format('woff2'), url('./fonts/Calibri-Italic.woff') format('woff'), url('./fonts/Calibri-Italic.ttf') format('truetype'), url('./fonts/Calibri-Italic.eot') format('embedded-opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Calibri';
    src: local('Calibri Bold'), local('Calibri-Bold'), url('./fonts/Calibri-Bold.woff2') format('woff2'), url('./fonts/Calibri-Bold.woff') format('woff'), url('./fonts/Calibri-Bold.ttf') format('truetype'), url('./fonts/Calibri-Bold.eot') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: local('Calibri Bold Italic'), local('Calibri-Bolditalic'), url('./fonts/Calibri-Bolditalic.woff2') format('woff2'), url('./fonts/Calibri-Bolditalic.woff') format('woff'), url('./fonts/Calibri-Bolditalic.ttf') format('truetype'), url('./fonts/Calibri-Bolditalic.eot') format('embedded-opentype');
    font-weight: 700;
    font-style: italic;
}

/* Global
============================================================================================== */

body {
    margin: 0;
    min-height: 600px;

    font-family: Calibri , Helvetica, Arial;
    font-size: 1rem;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.placeholder {
    display: flex;
    width: 100%;
    height: 100%;

    font-size: 1em;

    background-color: #3d3d3d15;

    justify-content: center;
    align-items: center;
}

.page__center {
    width: 960px;
    margin: 0 auto;
}

.section {
    margin-top: 24px;
    margin-bottom: 24px;
}

.hidden {
    display: none;
}

/* Header
============================================================================================== */

.header__inner {
    display: flex;
    padding: 24px 0;

    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #d3d3d3;
}

.header__logo {
    width: 250px;
    height: 40px;
}

.header__logo-link {
    font-size: 18px;
    font-weight: 700;
    color: #4a4a4a;

    text-decoration: none;
}

.header-search {
    position: relative;
    width: 330px;
}

.header-search__input {
    display: block;
    padding: .55em 50px .55em 1em;
    height: 40px;
    width: 100%;

    color: #4a4a4a;
    font-family: "Calibri", sans-serif;
    font-size: 17px;

    border: none;
    border-radius: 3px;
    outline: none;

    box-shadow: 0 0 0 1px #d3d3d3 inset;
    transition: box-shadow .2s;
}

.header-search__input:focus {
    box-shadow: 0 0 0 1px #198bdb inset, 0 0 5px #198bdb;
}

.header-search__submit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    padding: 0 10px;

    border: none;
    outline: none;

    background: none;

    cursor: pointer;
}

.header-search__submit-icon {
    width: 1em;
    height: 1em;

    font-size: 20px;

    transition-duration: .2s;
}

.header-search__input:focus +
.header-search__submit >
.header-search__submit-icon {
    fill: #1d79bf;
}

.header-search__results{
    position: absolute;
    top: 105%;
    right: 0;

    width: 375px;

    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 7px rgba(33, 33, 33, 0.175725);

    overflow: hidden;
}

.header-search__result {
    padding: 12px 20px;

    font-size: 16px;
    color: #222222;

    cursor: pointer;
}

.header-search__result +
.header-search__result {
    border-top: 1px solid #F9F9F9;
}

.header-search__result:hover {
    background-color: #DEEDCC;
}

/* Update-unit
============================================================================================== */

.update-unit {
    display: flex;
    margin: 15px 0;
    padding: 8px 10px 8px 22px;

    color: #222;
    font-size: 16px;

    border-radius: 3px;
    border: 1px solid #d4d4d4;

    justify-content: space-between;
    align-items: center;
}

.update-unit__button {
    display: block;
    padding: .5em 1.25em;

    color: #fff;

    background: linear-gradient(315deg, #82C943 0%, #65AB3B 100%);
    border-radius: 3px;

    text-decoration: none;
}

/* Main home page
============================================================================================== */

.section__intro {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.page__title {
    font-size: 38px;
    font-weight: 700;
    color: #4a4a4a;
}

.last-update {
    font-size: 16px;
    color: #979797;
}

.section-column {
    column-count: 3;
    column-gap: 30px;
}

.section-column-widget {
    margin-bottom: 30px;
    padding: 20px 15px;

    background-color: #f4f4f4;
    border-radius: 4px;

    break-inside: avoid-column;
}

.section-column-widget_hot {
    background-color: #feddde;
}

.section-column-widget__caption {
    display: block;

    font-size: 21px;
    color: #44428c;
}

.section-column-widget__caption:hover {
    color: #4a4a4a;
}

.section-column-widget__item {
    display: block;
    padding: 5px 0;

    font-size: 17px;
    color: #8a89a4;
}

.section-column-widget__item:hover {
    color: #222;
}

.section-column-widget__caption +
.section-column-widget__item {
    margin-top: 14px;
}

.section-column-widget__caption_fire,
.section-column-widget__caption_sale {
    position: relative;
    padding-left: 34px;
}

.section-column-widget__caption_fire::before,
.section-column-widget__caption_sale::before {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;

    width: 24px;
    height: 24px;

    transform: translate(0,-50%);

    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.section-column-widget__caption_fire::before { background-image: url("./img/icons/fire.svg"); }

.section-column-widget__caption_sale::before { background: url("./img/icons/sale.png"); }

/* Footer
============================================================================================== */

.footer__inner {
    display: flex;
    padding: 15px 0;

    font-size: 13px;
    color: #979797;

    border-top: 1px solid #d3d3d3;

    justify-content: space-between;
    align-items: center;
}

.footer__rights::before {
    content: "";

    display: inline-block;
    width: 30px;
    margin-right: 5px;
}

.footer__last-update {
    font-size: 13px;
}

/* Main catalog
============================================================================================== */

.section__intro_child {
    justify-content: flex-start;
}

.arrow-btn {
    display: block;
    width: 1em;
    height: 1em;
    margin-right: 15px;

    font-size: 34px;

    background: url("./img/icons/arrow.svg");
}

.section-catalog {
    display: flex;
}

.section-catalog__sidebar {
    padding-right: 30px;
    width: 25%;
}

.section-catalog__article {
    margin: 0 -20px;
    width: calc(75% + 40px);
}

.section-catalog__accordion {
    position: relative;

    padding: 12px 9px 12px 30px;

    background-color: #f4f4f4;
    border-radius: 4px;
}

.section-catalog__accordion +
.section-catalog__accordion {
    margin-top: 20px;
}

.accordion__link {
    font-size: 18px;
    color: #44428C;
}

.accordion__link:hover {
    color: #222;
}

.accordion__btn {
    position: absolute;
    left: -1px;
    top: 12px;

    width: 22px;
    height: 22px;

    cursor: pointer;

    background: url("./img/icons/accordion-btn-box.svg");
    background-size: contain;
    background-repeat: no-repeat;

}

.accordion__btn::before{
    content: '';
    background: url("./img/icons/accordion-btn-plus.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: inherit;
    height: inherit;
    display: block;
}

.accordion__btn_active::before{
    background: url("./img/icons/accordion-btn-minus.svg");
}

.accordion__content {
    margin-top: 18px;
}

.accordion__item +
.accordion__item {
    margin-top: 16px;
}

.accordion__item-link,
.accordion__subitem-link {
    display: block;

    font-size: 13px;
    color: #8A89A4;
}

.accordion__item-link:hover,
.accordion__subitem-link:hover {
    color: #222;
}

.accordion__item_subcategory {
    position: relative;
}

.accordion__item-btn {
    position: absolute;
    left: -18px;
    top: 1.4px;

    width: 13px;
    height: 13px;

    cursor: pointer;
}

.accordion__item-btn::before {
    content: '';

    width: inherit;
    height: inherit;
    display: block;

    background: url("./img/icons/accordion__item-btn-plus.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.accordion__item-btn_active::before {
    background: url("./img/icons/accordion__item-btn-minus.svg");
}

.accordion__item-content {
    margin-top: 12px;
}

.accordion__subitem-link {
    position: relative;

    padding-left: 18px;
}

.accordion__subitem-link +
.accordion__subitem-link {
    margin-top: 8px;
}

.accordion__subitem-link::before {
    content: '';

    position: absolute;
    left: 0;
    top: 50%;

    display: block;
    width: 8px;
    height: 7px;

    background: url("./img/icons/accordion__subitem-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;

    transform: translateY(-50%);
}

.section-catalog__row {
    display: flex;

    flex-wrap: wrap;
}

.section-catalog__cell {
    width: calc(100% / 3);
    padding: 0 20px;
    margin-bottom: 40px;
}

.product-card {
    position: relative;

    display: flex;
    padding: 20px;

    text-align: center;

    background: #fff;
    box-shadow: 0 2px 7px 0 rgb(33 33 33 / 18%);
    border-radius: 4px;

    flex-direction: column;
    align-items: center;
}

.product-card:hover {
    box-shadow: 0 4px 9px 0 rgb(33 33 33 / 24%);
}

.product-card__tags {
    position: absolute;
    display: flex;

    left: 10px;
    top: 10px;

    text-align: left;

    flex-direction: column;
    align-items: flex-start;

    pointer-events: none;
}

.product-card__tags-item {
    padding: .2em .8em;

    font-size: 13px;
    color: #fff;

    border-radius: 4px;
}

.product-card__tags-item +
.product-card__tags-item {
    margin-top: 7px;
}

.product-card__tags-item_new { background-color: #1565c0; }

.product-card__tags-item_hit { background-color: #9320b4; }

.product-card__img {
    width: 100%;
}

.product-card__img::before {
    content: '';
    padding-top: 100%;
}

.product-card__caption {
    margin-top: 16px;

    font-size: 14px;

    color: #222;
}

.product-card__price {
    margin-top: 16px;
}

.product-card__price-caption {
    font-size: 14px;
    color: #000;
}

.product-card__price-value {
    font-size: 19px;
    font-weight: 700;
    color: #e02020;
}

.product-card__brand {
    margin-top: 20px;
    width: 140px;
    height: 40px;
}

.pagination {
    margin: 18px 0;

    text-align: center;
}

.pagination__more,
.pagination__pages {
    margin: 1em 0;
}

.pagination__more-btn {
    display: inline-block;
    padding: .6em 1.4em;

    color: #44428c;
    font-size: 14px;

    box-shadow: 0 0 0 1px #d3d3d3 inset;
    border-radius: 4px;
}

.pagination__more-btn > span {
    color: #9e9e9e;
}

.pagination__more-btn:hover {
    color: #383774;
    background-color: #fafafa;;
}

.pagination__pages {
    display: flex;

    justify-content: center;
    align-items: center;
}

.pagination__page {
    padding: 0 .7em;

    font-size: 15px;
}

.pagination__page-link {
    color: #44428c;
}

.pagination__page_current {
    color: #000;
    cursor: default;
}

.pagination__page-link:hover {
    color: #8a89a4;
}

.pagination__page-nav {
    display: block;
    padding: .7em .7em;
}

.pagination__page-nav::before {
    content: "";

    display: block;
    width: .5em;
    height: .5em;

    border-top: 2px solid #44428c;
    border-right: 2px solid #44428c;
}


.pagination__page-nav:hover::before {
    border-top: 2px solid #8a89a4;
    border-right: 2px solid #8a89a4;
}

.pagination__page-nav_right::before {
    transform: rotate(45deg);
}

.pagination__page-nav_left::before {
    transform: rotate(-135deg);
}

/* Search page
============================================================================================== */

.section-catalog__menu-item {
    display: block;
    padding: 13px 13px 13px 27px;

    font-size: 18px;
    color: #8A8A8A;

    border-radius: 4px;
}

.section-catalog__menu-item +
.section-catalog__menu-item {
    margin-top: 10px;
}

.section-catalog__menu-item:hover {
    color: #222;
}

.section-catalog__menu-item_current {
    background-color: #F4F4F4;
}

/* Brand page
============================================================================================== */

.section-producer {
    display: flex;
    padding-bottom: 24px;

    font-size: 17px;
    color: #212121;

    border-bottom: 1px solid #d3d3d3;
}

.section-producer__sidebar {
    width: 25%;
    padding-right: 30px;
}

.section-producer__sidebar-box {
    border: 1px solid #d3d3d3;
}

.section-producer__img::before {
    content: "";

    padding-top: 100%;
}

.section-producer__article {
    width: 75%;
}

.section-producer__article-text {
    margin: 1em 0;

    text-align: justify;
}

.section__caption {
    margin-bottom: 24px;

    color: #4a4a4a;
    font-size: 23px;
    font-weight: 700;
}